h2 {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

p {
  max-width: 70ch;
}

a {
  text-decoration: none;
}

img {
  object-fit: contain;
}

.fa-star {
  color: #ffcb3b;
}

.content .bg-light {
  background-color: #fafffb !important;
}

#search-results-list {
  padding: 0;
}

#search-results-list li + li {
  border-top: 1px solid #c2c2c2;
}

#search-results-list li a {
  display: block;
  text-decoration: none;
  color: black;
}

#search-results-list li a:hover {
  background-color: #def0ff;
}

#search-results-list img {
  max-height: 100px;
}

@media screen and (min-width: 1024px) {
  #search-results-list img {
    max-height: 80px;
  }
}

#search-results-list .title {
  padding-left: 1rem;
  padding-right: 1rem;
}

.htmx-indicator {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.htmx-request .htmx-indicator,
.htmx-request.htmx-indicator {
  opacity: 1;
}

.htmx-swapping .comment,
.htmx-swapping.comment {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}
