{{ $homeRoute := "/" }}
{{ if .IsAuthenticated }}
  {{ $homeRoute = "/reviews" }}
{{ end }}


<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-md">
    <a class="navbar-brand" href="{{ $homeRoute }}">ScreenJournal</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbar-content"
      aria-controls="navbar-content"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-content">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{{ $homeRoute }}" role="menuitem">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about" role="menuitem">About</a>
        </li>
      </ul>
      {{ if .IsAuthenticated }}
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="account-dropdown"
              role="menuitem"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Account
            </a>
            <ul class="dropdown-menu" aria-labelledby="account-dropdown">
              <li>
                <a
                  href="/reviews/by/{{ .LoggedInUsername }}"
                  class="dropdown-item"
                  role="menuitem"
                  >My ratings</a
                >
              </li>
              <li>
                <a
                  href="/account/notifications"
                  class="dropdown-item"
                  role="menuitem"
                  >Notifications</a
                >
              </li>
              <li>
                <a
                  id="navbar-log-out"
                  href="/logout"
                  class="dropdown-item"
                  role="menuitem"
                  >Log out</a
                >
              </li>
            </ul>
          </li>
        </ul>

        {{ if .IsAdmin }}
          <ul class="navbar-nav">
            <li class="nav-item dropdown">
              <a
                id="admin-dropdown"
                class="nav-link dropdown-toggle"
                href="#"
                role="menuitem"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="admin-dropdown">
                <li>
                  <a href="/admin/invites" class="dropdown-item" role="menuitem"
                    >Invites</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        {{ end }}
      {{ else }}
        <div class="ms-auto">
          <a
            href="/sign-up"
            class="btn btn-primary btn-sm px-4 gap-3"
            role="menuitem"
          >
            Sign up
          </a>
          <a
            href="/login"
            class="btn btn-outline-secondary btn-sm px-4 gap-3"
            role="menuitem"
          >
            Sign in
          </a>
        </div>
      {{ end }}
    </div>
  </div>
</nav>
