{{ define "title" }}
  About ScreenJournal
{{ end }}

{{ define "script-tags" }}
  <script nonce="{{ .CspNonce }}">
    document.addEventListener("DOMContentLoaded", function () {
      const timeEl = document.getElementById("version-time-local");
      if (!timeEl) {
        return;
      }

      const date = new Date(timeEl.getAttribute("datetime"));
      timeEl.textContent = date.toLocaleString(undefined, {
        year: "numeric",
        month: "short",
        day: "numeric",
        hour: "numeric",
        minute: "2-digit",
        timeZoneName: "short",
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  <p>
    ScreenJournal is a way to share and discuss movie recommendations with your
    friends.
  </p>

  <h2>ScreenJournal is private</h2>

  <p>
    The ScreenJournal server you join is a private community. Nobody outside of
    the group can read your reviews or see your ratings.
  </p>

  <h2>ScreenJournal is free</h2>

  <p>
    ScreenJournal is free to use. There are no ads, and we don't sell your data
    to anyone.
  </p>

  <h2>ScreenJournal is a work in progress</h2>

  <p>
    It's still early days for ScreenJournal. It's being actively developed, but
    right now, it's only a minimal set of features.
  </p>

  <h2>Who made this?</h2>

  <p>
    ScreenJournal is developed by
    <a href="https://mtlynch.io">Michael Lynch</a>.
  </p>

  {{ if or .Revision .VersionTime }}
    <table class="table">
      <tbody>
        {{ if .Revision }}
          <tr>
            <th scope="row">Revision</th>
            <td>
              <code title="{{ .FullRevision }}">{{ .Revision }}</code>
            </td>
          </tr>
        {{ end }}
        {{ if .VersionTime }}
          <tr>
            <th scope="row">Version last modified at</th>
            <td>
              <time id="version-time-local" datetime="{{ .VersionTime }}"
                >{{ .VersionTime }}</time
              >
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  {{ end }}
{{ end }}
