{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    document.addEventListener(
      "DOMContentLoaded",
      function () {
        // TODO: Implement this.
      },
      false
    );
  </script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1>Change Password</h1>

  <div id="submit-spinner" class="spinner-border invisible" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div id="error" class="alert alert-danger invisible" role="alert">
    Placeholder error
  </div>
{{ end }}

{{ template "base.html" }}
