{{ define "title" }}
  Manage Notifications
{{ end }}

{{ define "content" }}
  <h1>{{ template "title" }}</h1>

  <form
    class="d-flex flex-column my-4"
    hx-put="/account/notifications"
    hx-disabled-elt="input, .btn"
    hx-target="#result"
    hx-swap="textContent"
  >
    <div class="form-check my-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="new-reviews-checkbox"
        name="new-reviews"
        {{ if .ReceivesReviewNotices }}checked{{ end }}
      />
      <label class="form-check-label" for="new-reviews-checkbox">
        Email me when users post reviews
      </label>
    </div>
    <div class="form-check my-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="all-comments-checkbox"
        name="all-comments"
        {{ if .ReceivesAllCommentNotices }}checked{{ end }}
      />
      <label class="form-check-label" for="all-comments-checkbox">
        Email me when users add comments
      </label>
    </div>

    <div class="my-3">
      <button class="btn btn-primary" value="Save">
        <i class="fa-solid fa-floppy-disk"></i>
        Save
      </button>
    </div>

    <div class="spinner-border htmx-indicator" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>
  <div id="result" class="alert d-none" role="alert"></div>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { showElement, hideElement } from "/js/lib/bootstrap.js";

    const resultDiv = document.getElementById("result");

    document.body.addEventListener("htmx:beforeRequest", function () {
      hideElement(resultDiv);
    });

    document.body.addEventListener("htmx:afterRequest", function (evt) {
      if (evt.detail.successful) {
        resultDiv.classList.add("alert-success");
        resultDiv.classList.remove("alert-danger");
      } else {
        if (!evt.detail.xhr.responseText) {
          resultDiv.innerText = "Failed to communicate with server";
        }

        resultDiv.classList.remove("alert-success");
        resultDiv.classList.add("alert-danger");
      }

      showElement(resultDiv);
    });

    document.body.addEventListener("htmx:beforeSwap", function (evt) {
      // Always swap content for the result element, even on error.
      if (evt.target.id === resultDiv.id) {
        evt.detail.shouldSwap = true;
      }
    });
  </script>
{{ end }}
