{{ define "title" }}
  Change Password
{{ end }}

{{ define "content" }}
  <form class="my-5" hx-put="/account/password">
    <div class="form-outline mb-4">
      <input
        type="password"
        id="old-password"
        name="old-password"
        class="form-control"
        required
        minlength="8"
      />
      <label class="form-label" for="old-password">Current Password</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        required
        minlength="8"
      />
      <label class="form-label" for="password">New Password</label>
    </div>
    <div class="form-outline mb-4">
      <input
        type="password"
        id="password-confirm"
        name="password-confirm"
        class="form-control"
        required
        minlength="8"
      />
      <label class="form-label" for="password-confirm"
        >Confirm New Password</label
      >
    </div>

    <div class="d-flex flex-row-reverse justify-content-start mb-4">
      <input
        type="submit"
        class="btn btn-primary btn-block ms-3"
        value="Change password"
      />
      <button id="cancel-btn" type="button" class="btn btn-secondary btn-block">
        Cancel
      </button>
    </div>

    <div class="spinner-border htmx-indicator" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>

  <div id="result" class="alert alert-success d-none" role="alert">
    Changes saved
  </div>

  <div id="error" class="alert alert-danger d-none" role="alert">
    Placeholder error
  </div>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { showElement, hideElement } from "/js/lib/bootstrap.js";

    const successAlert = document.querySelector(".alert-success");
    const errorAlert = document.querySelector(".alert-danger");

    document.body.addEventListener("htmx:beforeRequest", function () {
      hideElement(errorAlert);
      hideElement(successAlert);
    });

    document.body.addEventListener("htmx:afterRequest", function (evt) {
      if (evt.detail.successful) {
        showElement(successAlert);
        hideElement(errorAlert);
      } else {
        const xhrErr = evt.detail.xhr.responseText;
        errorAlert.innerText = xhrErr
          ? xhrErr
          : "Failed to communicate with server";
        hideElement(successAlert);
        showElement(errorAlert);
      }
    });
  </script>
{{ end }}
