{{ define "title" }}
  Manage Notifications
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { makeVisible, makeInvisible } from "/js/lib/bootstrap.js";
    import { disableElement, enableElement } from "/js/lib/ui.js";
    import { notificationsPost } from "/js/controllers/notifications.js";

    document.addEventListener(
      "DOMContentLoaded",
      function () {
        const newReviewsCheckbox = document.getElementById(
          "new-reviews-checkbox"
        );
        const allCommentsCheckbox = document.getElementById(
          "all-comments-checkbox"
        );

        const errorAlert = document.getElementById("error");
        const successAlert = document.getElementById("success");
        const submitSpinner = document.getElementById("submit-spinner");
        const submitBtn = document.querySelector("form .btn-primary");

        newReviewsCheckbox.addEventListener("change", () => {
          enableElement(submitBtn);
        });
        allCommentsCheckbox.addEventListener("change", () => {
          enableElement(submitBtn);
        });

        document
          .getElementById("notifications-form")
          .addEventListener("submit", (evt) => {
            evt.preventDefault();

            disableElement(submitBtn);
            makeInvisible(successAlert);
            makeInvisible(errorAlert);
            makeVisible(submitSpinner);

            const isSubscribedToNewReviews = newReviewsCheckbox.checked;
            const isSubscribedToAllComments = allCommentsCheckbox.checked;

            notificationsPost(
              isSubscribedToNewReviews,
              isSubscribedToAllComments
            )
              .then(() => {
                makeVisible(successAlert);
                disableElement(submitBtn);
              })
              .catch((error) => {
                errorAlert.innerText = error;
                makeVisible(errorAlert);

                enableElement(submitBtn);
              })
              .finally(() => {
                makeInvisible(submitSpinner);
              });
          });
      },
      false
    );
  </script>
{{ end }}

{{ define "content" }}
  <h1>Manage Notifications</h1>

  <form id="notifications-form" class="my-4">
    <div class="form-check my-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="new-reviews-checkbox"
        {{ if .ReceivesReviewNotices }}checked{{ end }}
      />
      <label class="form-check-label" for="new-reviews-checkbox">
        Email me when users post reviews
      </label>
    </div>
    <div class="form-check my-2">
      <input
        class="form-check-input"
        type="checkbox"
        id="all-comments-checkbox"
        {{ if .ReceivesAllCommentNotices }}checked{{ end }}
      />
      <label class="form-check-label" for="all-comments-checkbox">
        Email me when users add comments
      </label>
    </div>

    <button class="btn btn-primary my-3" value="Save" disabled>
      <i class="fa-solid fa-floppy-disk"></i>
      Save
    </button>
  </form>
  <div id="success" class="alert alert-success invisible" role="alert">
    Changes saved
  </div>

  <div id="submit-spinner" class="spinner-border invisible" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div id="error" class="alert alert-danger invisible" role="alert">
    Placeholder error
  </div>
{{ end }}
