{{ define "title" }}
  Password Resets
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { copyToClipboard } from "/js/lib/clipboard.js";

    // Use event delegation to handle clicks on dynamically added copy buttons
    document.addEventListener("click", (event) => {
      if (event.target.closest('[data-purpose="copy"]')) {
        const copyBtn = event.target.closest('[data-purpose="copy"]');
        const token = copyBtn.getAttribute("data-token");
        const resetLink = `${window.location.origin}/account/change-password?token=${token}`;

        copyToClipboard(resetLink);
      }
    });
  </script>
{{ end }}

{{ define "content" }}
  <form
    class="d-flex align-items-end gap-3 my-5"
    hx-post="/admin/reset-password"
    hx-disabled-elt="input, .btn, select"
    hx-target="tbody"
    hx-target-error="#result-error"
    hx-clear="#result-error"
    hx-swap="afterbegin"
  >
    <div class="flex-grow-1" style="max-width: 300px;">
      <label for="username" class="form-label">User</label>
      <select name="username" id="username" class="form-select" required>
        <option value="">Select a user</option>
        {{ range .Users }}
          <option value="{{ .Username }}">{{ .Username }}</option>
        {{ end }}
      </select>
    </div>

    <div class="d-flex align-items-center gap-2">
      <button type="submit" class="btn btn-primary">Generate Reset Link</button>
      <div
        class="spinner-border spinner-border-sm htmx-indicator"
        role="status"
      >
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </form>

  <div id="result-error" class="alert alert-danger" role="alert"></div>

  <table class="table">
    <thead>
      <tr>
        <th>Username</th>
        <th>Expires</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .PasswordResetRequests }}
        {{ template "password-reset-row.html" . }}
      {{ end }}
    </tbody>
  </table>
{{ end }}
