{{ define "title" }}
  Forgot Password
{{ end }}

{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    @media screen and (min-width: 768px) {
      #content {
        max-width: 25%;
      }
    }
  </style>
{{ end }}

{{ define "script-tags" }}{{ end }}

{{ define "content" }}
  <div id="content" class="container p-4 justify-content-center pb-4">
    {{ if .Submitted }}
      <div class="alert alert-success mt-5" role="alert">
        If that email address is associated with an account, we've sent a
        password reset link. Please check your inbox.
      </div>
      <div class="text-center">
        <a href="/login">Back to log in</a>
      </div>
    {{ else }}
      <form
        id="forgot-password-form"
        method="POST"
        action="/forgot-password"
        class="my-5"
      >
        <p>
          Enter the email address associated with your account and we'll send
          you a link to reset your password.
        </p>
        <div class="form-outline mb-4">
          <input
            type="email"
            id="email"
            name="email"
            class="form-control"
            autofocus="autofocus"
            required
          />
          <label class="form-label" for="email">Email</label>
        </div>
        <div class="d-flex justify-content-end">
          <input
            type="submit"
            class="btn btn-primary btn-block mb-4"
            value="Send reset link"
          />
        </div>
        <div class="text-center">
          <a href="/login">Back to log in</a>
        </div>
      </form>
    {{ end }}
  </div>
{{ end }}
