{{ define "title" }}
  Forgot Password
{{ end }}

{{ define "script-tags" }}{{ end }}

{{ define "content" }}
  {{ if .Submitted }}
    <div class="alert alert-success mt-5" role="alert">
      If that email address is associated with an account, we've sent a
      password reset link. Please check your inbox.
    </div>
    <div class="text-center">
      <a href="/login">Back to log in</a>
    </div>
  {{ else }}
    <form
      id="forgot-password-form"
      method="POST"
      action="/forgot-password"
      class="mt-5"
    >
      <p>
        Forgot your password? No problem. We'll send you a reset link.
      </p>
      <div class="form-outline mb-4">
        <input
          type="email"
          id="email"
          name="email"
          class="form-control"
          placeholder="wes@anderson.org"
          autofocus="autofocus"
          required
        />
      </div>
      <div class="d-flex justify-content-end">
        <input
          type="submit"
          class="btn btn-primary btn-block mb-4"
          value="Send reset link"
        />
      </div>
      <div class="text-center">
        <a href="/login">Back to log in</a>
      </div>
    </form>
  {{ end }}
{{ end }}
