{{ define "title" }}
  Invites
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { copyToClipboard } from "/js/lib/clipboard.js";

    document.querySelectorAll('[data-purpose="copy"]').forEach((copyBtn) => {
      copyBtn.addEventListener("click", () => {
        const inviteCode = copyBtn.getAttribute("data-invite-code");
        const inviteLink = `${window.location.origin}/sign-up?invite=${inviteCode}`;

        copyToClipboard(inviteLink);
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  <form
    class="d-flex d-flex-row my-5 me-3"
    hx-post="/admin/invites"
    hx-disabled-elt="input, .btn"
    hx-target="tbody"
    hx-target-error="#result-error"
    hx-swap="afterbegin"
  >
    <div class="me-3">
      <label for="invitee" class="form-label">Invitee's name</label>
      <input
        name="invitee"
        id="invitee"
        type="text"
        autofocus="autofocus"
        required
      />
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />

    <div class="spinner-border htmx-indicator ms-3" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>

  <div id="result-error" class="alert alert-danger" role="alert"></div>

  <table class="table">
    <thead>
      <tr>
        <th>Invitee</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Invites }}
        {{ template "invite-row.html" . }}
      {{ end }}
    </tbody>
  </table>
{{ end }}
