{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { copyToClipboard } from "/js/lib/clipboard.js";

    document.querySelectorAll('[data-purpose="copy"]').forEach((copyBtn) => {
      copyBtn.addEventListener("click", () => {
        const inviteCode = copyBtn.getAttribute("data-invite-code");
        const inviteLink = `${window.location.origin}/sign-up?invite=${inviteCode}`;

        copyToClipboard(inviteLink);
      });
    });
  </script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1>{{ .Title }}</h1>

  <a
    href="/admin/invites/new"
    class="btn btn-primary my-3"
    data-testid="create-invite"
    >Create Invite Link</a
  >
  <table class="table">
    <thead>
      <tr>
        <th>Invitee</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{ range .Invites }}
        <tr>
          <td>
            <a
              data-testid="invite-link"
              href="/sign-up?invite={{ .InviteCode }}"
              >{{ .Invitee }}</a
            >
          </td>

          <td>
            <button data-purpose="copy" data-invite-code="{{ .InviteCode }}">
              <i class="fas fa-copy"></i>
            </button>
          </td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{ end }}

{{ template "base.html" }}
