{{ define "title" }}
  Create Invite Link
{{ end }}

{{ define "content" }}
  <form
    class="my-5"
    hx-post="/admin/invites"
    hx-disabled-elt="input, .btn"
    hx-target="#result-success"
    hx-target-error="#result-error"
    hx-swap="textContent"
  >
    <div class="mb-3">
      <label for="invitee" class="form-label">Invitee's name</label>
      <input
        name="invitee"
        id="invitee"
        type="text"
        autofocus="autofocus"
        required
      />
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />

    <div class="spinner-border htmx-indicator" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </form>

  <div id="result-success" class="alert alert-success" role="alert"></div>
  <div id="result-error" class="alert alert-danger" role="alert"></div>
{{ end }}
