{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
  <script type="module">
    import { createInvite } from "/js/controllers/invites.js";
    import { showElement, hideElement } from "/js/lib/bootstrap.js";

    document.addEventListener(
      "DOMContentLoaded",
      function () {
        const errorAlert = document.getElementById("error");
        const submitSpinner = document.getElementById("submit-spinner");
        const submitBtn = document.querySelector("form .btn-primary");
        const inviteeInput = document.getElementById("invitee");

        inviteeInput.focus();

        document
          .getElementById("create-invite")
          .addEventListener("submit", (evt) => {
            evt.preventDefault();

            submitBtn.disabled = true;
            hideElement(errorAlert);
            showElement(submitSpinner);

            createInvite(inviteeInput.value)
              .then(() => {
                window.location.pathname = `/admin/invites`;
              })
              .catch((error) => {
                errorAlert.innerText = error;
                showElement(errorAlert);
              })
              .finally(() => {
                hideElement(submitSpinner);
                submitBtn.disabled = false;
              });
          });
      },
      false
    );
  </script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1>{{ .Title }}</h1>

  <form id="create-invite" class="my-5">
    <div class="mb-3">
      <label for="invitee" class="form-label">Invitee's name</label>
      <input id="invitee" type="text" required />
    </div>

    <input type="submit" class="btn btn-primary" value="Create" />
  </form>

  <div id="submit-spinner" class="spinner-border invisible" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div id="error" class="alert alert-danger invisible" role="alert">
    Placeholder error
  </div>
{{ end }}

{{ template "base.html" }}
