{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    @media screen and (min-width: 768px) {
      .poster {
        max-width: 250px;
      }
    }

    .release-year {
      font-size: 0.85em;
    }

    .review {
      max-width: 70ch;
    }

    .review + .review {
      margin-top: 2rem;
    }

    .review p {
      max-width: 100%;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { commentDelete } from "/js/controllers/comments.js";

    document.addEventListener(
      "DOMContentLoaded",
      function () {
        document.querySelectorAll("[data-comment-id]").forEach((commentDiv) => {
          const deleteBtn = commentDiv
            .querySelector("[data-sj-purpose='delete']")
            .addEventListener("click", (evt) => {
              evt.preventDefault();
              const reviewId = parseInt(
                commentDiv
                  .closest("[data-review-id]")
                  .getAttribute("data-review-id")
              );
              const commentId = parseInt(
                commentDiv.getAttribute("data-comment-id")
              );
              commentDelete(reviewId, commentId).then(() => {
                // TODO: Find parent review ID and change hash to that.
                document.location.reload();
              });
            });
        });
      },
      false
    );
  </script>
{{ end }}

{{ define "custom-elements" }}
  {{ template "comment-form.html" . }}
{{ end }}

{{ define "content" }}
  {{ $loggedInUsername := .LoggedInUsername }}

  {{ with .Movie }}
    <h1>{{ .Title }}</h1>
    <img
      class="card-img-top poster"
      src="{{ posterPathToURL .PosterPath }}"
      alt="Movie poster for {{ .Title }}"
    />
    <p class="release-date">Released: {{ formatReleaseDate .ReleaseDate }}</p>
  {{ end }}


  <a
    href="/reviews/new?movieId={{ .Movie.ID }}"
    class="btn btn-primary my-3"
    data-testid="add-rating"
    >Add Rating</a
  >

  {{ range .Reviews }}
    <div class="review mb-5" data-review-id="{{ .ID }}">
      <div class="border bg-light p-2" id="review{{ .ID }}">
        <h6 class="card-subtitle mb-2 text-muted">
          <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b> watched
          this
          <span data-testid="watch-date" title="{{ formatWatchDate .Watched }}"
            >{{ relativeWatchDate .Watched }}</span
          >
        </h6>
        <div data-testid="rating">
          {{ range iterate .Rating.UInt8 }}
            <i class="fa-solid fa-star"></i>
          {{ end }}
          {{ range iterate (minus 5 .Rating.UInt8) }}
            <i class="fa-regular fa-star"></i>
          {{ end }}
        </div>

        {{ with .Blurb }}
          <p data-testid="blurb" class="mb-0">
            {{ range .String | splitByNewline }}
              {{ . }}<br />
            {{ end }}
          </p>
        {{ end }}
      </div>

      <div class="d-flex justify-content-start ms-3">
        <div class="w-75">
          <div>
            {{ range .Comments }}
              <div
                id="comment{{ .ID }}"
                data-comment-id="{{ .ID }}"
                class="border my-1 p-2"
              >
                <p class="mb-2">
                  <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b>
                  &mdash;
                  <span
                    data-testid="relative-time"
                    title="{{ formatCommentTime .Created }}"
                    >{{ relativeCommentDate .Created }}</span
                  >
                </p>
                <p class="mb-0" data-testid="comment-body">
                  {{ range .Comment.String | splitByNewline }}
                    {{ . }}<br />
                  {{ end }}
                </p>

                {{ if (eq .Owner $loggedInUsername) }}
                  <a href="#" data-testid="edit-comment">Edit</a>
                  <a href="#" data-sj-purpose="delete">Delete</a>
                {{ end }}
              </div>
            {{ end }}
          </div>
          <comment-form data-review-id="{{ .ID }}"></comment-form>
        </div>
      </div>
    </div>
  {{ end }}
{{ end }}

{{ template "base.html" }}
