{{ define "title" }}
  {{ .Movie.Title }}
{{ end }}

{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    @media screen and (min-width: 768px) {
      .poster {
        max-width: 250px;
      }
    }

    .metadata {
      font-size: 0.85em;
    }

    .review {
      max-width: 70ch;
    }

    .review + .review {
      margin-top: 2rem;
    }

    .review p {
      max-width: 100%;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    function is2xxCode(status) {
      return (status / 100) * 100 === 200;
    }

    document.body.addEventListener("htmx:beforeSwap", function (evt) {
      const alertEl = evt.detail.target.querySelector(".alert");

      if (is2xxCode(evt.detail.xhr.status)) {
        alertEl.hidden = true;
        return;
      }
      alertEl.innerText = evt.detail.xhr.responseText;
      alertEl.hidden = false;
    });
  </script>
{{ end }}

{{ define "content" }}

  {{ $loggedInUsername := .LoggedInUsername }}

  {{ with .Movie }}
    <img
      class="card-img-top poster"
      src="{{ posterPathToURL .PosterPath }}"
      alt="Movie poster for {{ .Title }}"
    />
    <ul class="metadata mt-2">
      <li class="release-date">
        Released:
        {{ formatReleaseDate .ReleaseDate }}
      </li>

      {{ if .ImdbID }}
        <li>
          <a href="https://www.imdb.com/title/{{ .ImdbID }}">IMDB</a>
        </li>
      {{ else if .TmdbID }}
        <li>
          <a href="https://www.themoviedb.org/tv/{{ .TmdbID }}">TMDB</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}


  <a
    href="/reviews/new?movieId={{ .Movie.ID }}"
    class="btn btn-primary my-3"
    role="button"
    >Add Rating</a
  >

  {{ range .Reviews }}
    <div class="review mb-5" data-review-id="{{ .ID }}">
      <div class="border bg-light p-2" id="review{{ .ID }}">
        <h6 class="card-subtitle mb-2 text-muted">
          <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b> watched
          this
          <span data-testid="watch-date" title="{{ formatWatchDate .Watched }}"
            >{{ relativeWatchDate .Watched }}</span
          >
        </h6>
        <div data-testid="rating">
          {{ range iterate .Rating.UInt8 }}
            <i class="fa-solid fa-star"></i>
          {{ end }}
          {{ range iterate (minus 5 .Rating.UInt8) }}
            <i class="fa-regular fa-star"></i>
          {{ end }}
        </div>

        {{ with .Blurb }}
          <p data-testid="blurb" class="mb-0">
            {{ .String | renderMarkdown }}
          </p>
        {{ end }}
      </div>

      <div class="d-flex flex-column justify-content-start ms-3 w-75">
        {{ range .Comments }}
          {{ template "comment" dict "Comment" . "LoggedInUsername" $loggedInUsername }}
        {{ end }}
        {{ template "add-comment-button" . }}
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "add-comment-button" }}
  <button
    type="button"
    class="btn btn-secondary mt-2"
    hx-get="/api/comments/edit?reviewId={{ .ID }}"
    hx-swap="outerHTML"
  >
    Comment
  </button>
{{ end }}

{{ define "comment" }}
  {{ $loggedInUsername := .LoggedInUsername }}
  {{ with .Comment }}
    <div
      id="comment{{ .ID }}"
      data-comment-id="{{ .ID }}"
      class="comment border my-1 p-2"
    >
      <p class="mb-2">
        <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b>
        &mdash;
        <span
          data-testid="relative-time"
          title="{{ formatCommentTime .Created }}"
          >{{ relativeCommentDate .Created }}</span
        >
      </p>
      <p class="mb-0" data-sj-purpose="body">
        {{ .CommentText.String | renderMarkdown }}
      </p>

      {{ if eq .Owner $loggedInUsername }}
        <div class="mt-3 small">
          <a
            href="#"
            hx-get="/api/comments/edit?reviewId={{ .Review.ID }}&commentId={{ .ID }}"
            hx-target="#comment{{ .ID }}"
            hx-swap="outerHTML swap:0.5s"
            data-sj-purpose="edit"
            >Edit</a
          >
          &bull;
          <a
            href="#"
            hx-delete="/api/comments/{{ .ID }}"
            hx-confirm="Delete this comment?"
            hx-target="#comment{{ .ID }}"
            hx-swap="outerHTML swap:0.5s"
            data-sj-purpose="delete"
            >Delete</a
          >
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
