{{ define "title" }}
  {{ .Media.Title }}
{{ end }}

{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    @media screen and (min-width: 768px) {
      .poster {
        max-width: 250px;
      }
    }

    .metadata {
      font-size: 0.85em;
    }

    .review {
      max-width: 70ch;

      p {
        max-width: 100%;
      }

      .spoilers {
        background-color: #ffc9c0;
        border: 2px dashed red;
        position: relative;
        margin-top: 20px;
        padding: 20px;
      }

      .spoilers::before {
        content: "Spoiler alert!";
        position: absolute;
        top: -10px;
        left: 10px;
        background: #fff;
        padding: 0 5px;
      }
    }

    .review + .review {
      margin-top: 2rem;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    function is2xxCode(status) {
      return (status / 100) * 100 === 200;
    }

    document.body.addEventListener("htmx:beforeSwap", function (evt) {
      const alertEl = evt.detail.target.querySelector(".alert");

      // When viewing a review page, there may not be any form visible.
      if (!alertEl) {
        return;
      }

      if (is2xxCode(evt.detail.xhr.status)) {
        alertEl.hidden = true;
        return;
      }
      alertEl.innerText = evt.detail.xhr.responseText;
      alertEl.hidden = false;
    });

    document.querySelectorAll(".spoilers").forEach((el) => {
      const btn = document.createElement("button");
      btn.classList.add("btn");
      btn.classList.add("btn-warning");
      btn.textContent = "Show Spoilers";
      el.after(btn);

      btn.addEventListener("click", () => {
        el.classList.remove("d-none");
        btn.remove();
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  {{ $loggedInUsername := .LoggedInUsername }}

  {{ if ne .Media.SeasonNumber 0 }}
    <h2>Season {{ .Media.SeasonNumber }}</h2>
  {{ end }}

  {{ $newReviewRoute := printf "/reviews/new/write?movieId=%d" .Media.ID }}
  {{ if .Media.IsTvShow }}
    {{ $newReviewRoute = printf "/reviews/new/write?season=%d&mediaType=%s&tmdbId=%s" .Media.SeasonNumber .Media.Type .Media.TmdbID }}
  {{ end }}

  {{ with .Media }}
    <img
      class="card-img-top poster"
      src="{{ posterPathToURL .PosterPath }}"
      alt="Poster for {{ .Title }}"
    />
    <ul class="metadata mt-2">
      <!-- TODO: Fix release date for TV season -->
      <li class="release-date">
        Released:
        {{ formatReleaseDate .ReleaseDate }}
      </li>

      {{ if .ImdbID }}
        <li>
          <a href="https://www.imdb.com/title/{{ .ImdbID }}/">IMDB</a>
        </li>
      {{ end }}
    </ul>

    <a href="{{ $newReviewRoute }}" class="btn btn-primary my-3" role="button"
      >Add Rating</a
    >
  {{ end }}

  {{ range .Reviews }}
    <div class="review mb-5" data-review-id="{{ .ID }}">
      <div class="border bg-light p-2" id="review{{ .ID }}">
        <h6 class="card-subtitle mb-2 text-muted">
          <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b> watched
          this
          <span data-testid="watch-date" title="{{ formatWatchDate .Watched }}"
            >{{ relativeWatchDate .Watched }}</span
          >
        </h6>
        <div data-testid="rating">
          {{ range (ratingToStars .Rating) }}
            <i class="{{ . }}"></i>
          {{ end }}
        </div>

        {{ with .Blurb }}
          <div data-testid="blurb" class="mb-0">
            {{ . | renderBlurb }}
          </div>
        {{ end }}

        {{ if eq .Owner $loggedInUsername }}
          <div class="mt-3 small">
            <a href="/reviews/{{ .ID }}/edit">Edit</a>
          </div>
        {{ end }}
      </div>

      <div class="d-flex flex-column justify-content-start ms-3 w-75">
        {{ range .Comments }}
          {{ template "comment" dict "Comment" . "LoggedInUsername" $loggedInUsername }}
        {{ end }}
        {{ template "add-comment-button" . }}
      </div>
    </div>
  {{ end }}
{{ end }}

{{ define "add-comment-button" }}
  <button
    type="button"
    class="btn btn-secondary mt-2"
    hx-get="/api/comments/edit?reviewId={{ .ID }}"
    hx-swap="outerHTML"
  >
    Comment
  </button>
{{ end }}

{{ define "comment" }}
  {{ $loggedInUsername := .LoggedInUsername }}
  {{ with .Comment }}
    <div
      id="comment{{ .ID }}"
      data-comment-id="{{ .ID }}"
      class="comment border my-1 p-2"
    >
      <p class="mb-2">
        <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b>
        &mdash;
        <span
          data-testid="relative-time"
          title="{{ formatCommentTime .Created }}"
          >{{ relativeCommentDate .Created }}</span
        >
      </p>
      <div class="mb-0" data-sj-purpose="body">
        {{ .CommentText | renderCommentText }}
      </div>

      {{ if eq .Owner $loggedInUsername }}
        <div class="mt-3 small">
          <a
            href="#"
            hx-get="/api/comments/edit?reviewId={{ .Review.ID }}&commentId={{ .ID }}"
            hx-target="#comment{{ .ID }}"
            hx-swap="outerHTML swap:0.5s"
            data-sj-purpose="edit"
            >Edit</a
          >
          &bull;
          <a
            href="#"
            hx-delete="/api/comments/{{ .ID }}"
            hx-confirm="Delete this comment?"
            hx-target="#comment{{ .ID }}"
            hx-swap="outerHTML swap:0.5s"
            data-sj-purpose="delete"
            >Delete</a
          >
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}
