{{ define "style-tags" }}
  <style>
    .fa-star {
      color: #ffcb3b;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1>Ratings</h1>

  <a href="/reviews/new" class="btn btn-primary my-3" data-test-id="add-rating"
    >Add Rating</a
  >

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{ range .Reviews }}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">{{ .Title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">
              {{ range iterate .Rating.UInt8 }}
                <i class="fa-solid fa-star"></i>
              {{ end }}
              {{ range iterate (minus 10 .Rating.UInt8) }}
                <i class="fa-regular fa-star"></i>
              {{ end }}

            </h6>
            {{ with .Blurb }}
              <p class="card-text">
                {{ range .String | splitByNewline }}
                  {{ . }}<br />
                {{ end }}
              </p>
            {{ end }}
          </div>
          <div class="card-footer text-muted text-end">
            Watched
            {{ formatWatchDate .Watched }}
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ template "base.html" }}
