{{ define "title" }}
  Add Review
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    import { addReview } from "/js/controllers/reviews.js";
    import { makeVisible, makeInvisible } from "/js/lib/bootstrap.js";
    import { tzOffsetString } from "/js/lib/time.js";

    function reviewFromForm() {
      const tmdbId = parseInt(document.getElementById("tmdb-id").value);
      const rating = parseInt(document.getElementById("rating-select").value);
      const dateRaw = document.getElementById("watched-date").value;
      const watched = `${dateRaw}T00:00:00.000${tzOffsetString()}`;
      const blurb = document.getElementById("blurb").value.trim();

      return {
        tmdbId,
        rating,
        watched,
        blurb,
      };
    }

    document.addEventListener(
      "DOMContentLoaded",
      function () {
        const errorAlert = document.getElementById("error");
        const submitSpinner = document.getElementById("submit-spinner");
        const submitBtn = document.querySelector("form .btn-primary");

        document.querySelector("form").addEventListener("submit", (evt) => {
          evt.preventDefault();

          submitBtn.disabled = true;
          makeInvisible(errorAlert);
          makeVisible(submitSpinner);

          addReview(reviewFromForm())
            .then(() => {
              let newLocation = new URL(window.location.href);
              newLocation.search = (() => {
                let s = new URLSearchParams(newLocation.search);
                s.delete("movieId");
                return s.toString();
              })();
              newLocation.pathname = "/reviews";
              window.location = newLocation;
            })
            .catch((error) => {
              errorAlert.innerText = error;
              makeVisible(errorAlert);
            })
            .finally(() => {
              makeInvisible(submitSpinner);
              submitBtn.disabled = false;
            });
        });
      },
      false
    );
  </script>
{{ end }}

{{ define "content" }}
  <h1>Add Rating</h1>

  {{ if .MediaTitle }}
    <h2>{{ .MediaTitle }}</h2>
  {{ end }}

  {{ if not .MediaTitle }}
    {{ template "find-title" }}
  {{ else }}
    {{ template "rate-movie" . }}
  {{ end }}

{{ end }}

{{ define "find-title" }}
  <div class="dropdown my-5">
    <form>
      <label for="media-title" class="form-label">Title</label>
      <input
        id="media-title"
        name="query"
        class="form-control"
        type="search"
        placeholder="Search"
        aria-label="Search"
        aria-expanded="false"
        data-bs-toggle="dropdown"
        autofocus="autofocus"
        required
        hx-get="/api/search"
        hx-trigger="search, keyup delay:200ms changed"
        hx-target="#search-results-list"
      />
    </form>

    <div id="search-results-list"></div>
  </div>
{{ end }}

{{ define "rate-movie" }}
  <form class="my-5">
    <input type="hidden" id="tmdb-id" value="{{ .TmdbID }}" />
    <div class="mb-3">
      <label for="rating-select" class="form-label">Rating</label>
      <select
        id="rating-select"
        class="form-select"
        aria-label="Rating"
        required
      >
        <option selected></option>
        {{ range .RatingOptions }}
          <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>
    </div>

    <div class="mb-3">
      <label for="watched-date" class="form-label">When did you watch?</label>
      <input
        id="watched-date"
        class="form-control"
        type="date"
        value="{{ .Today | formatDate }}"
        min="2000-01-01"
        max="{{ .Today | formatDate }}"
        required
      />
    </div>

    <div class="mb-3">
      <label for="blurb" class="form-label">Other thoughts? (Optional)</label>
      <textarea id="blurb" class="form-control"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>

  <div id="submit-spinner" class="spinner-border invisible" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div id="error" class="alert alert-danger invisible" role="alert">
    Placeholder error
  </div>
{{ end }}
