{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1>{{ .Title }}</h1>

  {{ if (or (not .Owner) .LoggedInUserIsOwner) }}
    <a
      href="/reviews/new"
      class="btn btn-primary my-3"
      data-test-id="add-rating"
      >Add Rating</a
    >
  {{ end }}


  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{ range .Reviews }}
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">
              {{ .Movie.Title }}
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b> watched
              this
              <span
                data-test-id="watch-date"
                title="{{ formatWatchDate .Watched }}"
                >{{ relativeWatchDate .Watched }}</span
              >
            </h6>
            <div data-test-id="rating">
              {{ range iterate .Rating.UInt8 }}
                <i class="fa-solid fa-star"></i>
              {{ end }}
              {{ range iterate (minus 10 .Rating.UInt8) }}
                <i class="fa-regular fa-star"></i>
              {{ end }}
            </div>
            {{ with .Blurb | elideBlurb }}
              <p class="card-text">
                {{ range . | splitByNewline }}
                  {{ . }}<br />
                {{ end }}
              </p>
            {{ end }}
            <p>
              <a
                href="/reviews/{{ .ID }}"
                class="card-link"
                data-test-id="full-review"
                >Full review</a
              >
              <a
                href="/reviews/{{ .ID }}/edit"
                class="card-link"
                data-test-id="edit-rating"
                >Edit</a
              >
            </p>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}

{{ template "base.html" }}
