{{ define "style-tags" }}
{{ end }}

{{ define "script-tags" }}
  <script type="module">
    import { addReview } from "/js/controllers/reviews.js";
    import { searchGet } from "/js/controllers/search.js";
    import { showElement, hideElement } from "/js/lib/bootstrap.js";
    import { tzOffsetString } from "/js/lib/time.js";

    function reviewFromForm() {
      const tmdbId = parseInt(document.getElementById("tmdb-id").value);

      const rating = parseInt(document.getElementById("rating-select").value);

      const dateRaw = document.getElementById("watched-date").value;
      const watched = `${dateRaw}T00:00:00.000${tzOffsetString()}`;

      const blurb = document.getElementById("blurb").value.trim();

      return {
        tmdbId,
        rating,
        watched,
        blurb,
      };
    }

    function onTitleInput(evt) {
      const query = evt.target.value;
      if (query.length < 2) {
        return;
      }
      searchGet(query).then((results) => {
        const resultsDiv = document.getElementById("search-results");
        clearSearchResults();
        for (const m of results.matches) {
          const d = new Date(m.releaseDate);

          const imgEl = document.createElement("img");
          imgEl.src = m.posterUrl;

          const pEl = document.createElement("p");
          pEl.innerText = `${m.title} (${d.getFullYear()})`;

          const wrapperEl = document.createElement("div");
          wrapperEl.appendChild(imgEl);
          wrapperEl.appendChild(pEl);

          wrapperEl.addEventListener("click", (evt) => {
            document.getElementById("media-title").value = m.title;
            document.getElementById("tmdb-id").value = m.tmdbId;
            clearSearchResults();
          });

          resultsDiv.appendChild(wrapperEl);
        }
      });
    }

    function clearSearchResults() {
      const resultsDiv = document.getElementById("search-results");
      while (resultsDiv.firstChild) {
        resultsDiv.removeChild(resultsDiv.firstChild);
      }
    }

    document.addEventListener(
      "DOMContentLoaded",
      function () {
        const errorAlert = document.getElementById("error");
        const submitSpinner = document.getElementById("submit-spinner");
        const submitBtn = document.querySelector("form .btn-primary");
        document
          .getElementById("media-title")
          .addEventListener("input", onTitleInput);

        document
          .getElementById("add-rating")
          .addEventListener("submit", (evt) => {
            evt.preventDefault();

            submitBtn.disabled = true;
            hideElement(errorAlert);
            showElement(submitSpinner);

            addReview(reviewFromForm())
              .then(() => {
                window.location.pathname = `/reviews`;
              })
              .catch((error) => {
                errorAlert.innerText = error;
                showElement(errorAlert);
              })
              .finally(() => {
                hideElement(submitSpinner);
                submitBtn.disabled = false;
              });
          });
      },
      false
    );
  </script>
{{ end }}

{{ define "custom-elements" }}
{{ end }}

{{ define "content" }}
  <h1>Add Rating</h1>

  <form id="add-rating" class="my-5">
    <input type="hidden" id="tmdb-id" />

    <div class="mb-3">
      <label for="media-title" class="form-label">Title</label>
      <input id="media-title" class="form-control" type="search" required />
    </div>

    <div id="search-results"></div>

    <div class="mb-3">
      <label for="rating-select" class="form-label">Rating</label>
      <select
        id="rating-select"
        class="form-select"
        aria-label="Rating"
        required
      >
        <option selected></option>
        {{ range .RatingOptions }}
          <option value="{{ . }}">{{ . }}</option>
        {{ end }}
      </select>
    </div>

    <div class="mb-3">
      <label for="watched-date" class="form-label">When did you watch?</label>
      <input
        id="watched-date"
        class="form-control"
        type="date"
        value="{{ .Today | formatDate }}"
        min="2000-01-01"
        max="{{ .Today | formatDate }}"
        required
      />
    </div>

    <div class="mb-3">
      <label for="blurb" class="form-label">Other thoughts?</label>
      <textarea id="blurb" class="form-control"></textarea>
    </div>

    <input type="submit" class="btn btn-primary" value="Submit" />
  </form>

  <div id="submit-spinner" class="spinner-border invisible" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

  <div id="error" class="alert alert-danger invisible" role="alert">
    Placeholder error
  </div>
{{ end }}

{{ template "base.html" }}
