{{ define "title" }}
  {{ .Title }}
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    function setPageSort(sortByField) {
      let newLocation = new URL(window.location.href);
      newLocation.search = (() => {
        let s = new URLSearchParams(newLocation.search);
        s.set("sortBy", sortByField);
        return s.toString();
      })();
      window.location = newLocation;
    }

    document.addEventListener("DOMContentLoaded", function () {
      const sortBtn = document.getElementById("sort-btn");
      const sortBySelect = document.getElementById("sort-by");

      sortBtn.addEventListener("click", () => {
        sortBySelect.classList.toggle("d-none");
      });

      sortBySelect.addEventListener("change", (evt) => {
        const sortByField = evt.target.value;
        setPageSort(sortByField);
      });
    });
  </script>
{{ end }}

{{ define "content" }}
  {{ $loggedInUsername := .LoggedInUsername }}

  {{ if .CollectionOwner }}
    <p data-testid="collection-count">
      {{ .CollectionOwner.String }} has reviewed
      <b>{{ len .Reviews }}</b> movies
    </p>
  {{ end }}


  <div class="d-flex justify-content-between">
    {{ if .UserCanAddReview }}
      <a href="/reviews/new" class="btn btn-primary my-3" role="button"
        >Add Rating</a
      >
    {{ end }}


    <div class="d-flex flex-row align-self-center">
      <div class="me-2">
        <select id="sort-by" class="d-none form-select">
          <option
            {{ if (eq .SortOrder "watch-date") }}selected{{ end }}
            value="watch-date"
          >
            By watch date
          </option>
          <option
            {{ if (eq .SortOrder "rating") }}selected{{ end }}
            value="rating"
          >
            By rating
          </option>
        </select>
      </div>

      <a id="sort-btn" class="btn btn-light">
        <i class="fa-solid fa-sort"></i>
      </a>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-md-3 g-4">
    {{ range .Reviews }}
      {{ $reviewRoute := printf "/movies/%s#review%s" .Movie.ID.String .ID.String }}

      {{ $media := .Movie }}
      {{ if eq .Movie.ID.Int64 0 }}
        {{ $media = .TvShow }}
        {{ $reviewRoute = printf "/tv-shows/%s#review%s" .TvShow.ID.String .ID.String }}
      {{ end }}


      <div class="col">
        <div class="card h-100">
          <a href="{{ $reviewRoute }}"
            ><img
              class="card-img-top poster"
              src="{{ posterPathToURL $media.PosterPath }}"
              alt="Poster for {{ $media.Title }}"
          /></a>
          <div class="card-body">
            <h5 class="card-title">
              <a href="{{ $reviewRoute }}"
                >{{ $media.Title }}
                {{- if ne .TvShowSeason 0 }}
                  (Season {{ .TvShowSeason }})
                {{ end -}}
              </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <b
                ><a
                  href="/reviews/by/{{ .Owner }}"
                  data-testid="reviews-by-user"
                  >{{ .Owner }}</a
                ></b
              >
              watched this
              <span
                data-testid="watch-date"
                title="{{ formatWatchDate .Watched }}"
                >{{ relativeWatchDate .Watched }}</span
              >
            </h6>
            <div data-testid="rating">
              {{ range (ratingToStars .Rating) }}
                <i class="{{ . }}"></i>
              {{ end }}
            </div>
            {{ with .Blurb | elideBlurb }}
              <p class="card-text">
                {{ range . | splitByNewline }}
                  {{ . }}<br />
                {{ end }}
              </p>
            {{ end }}
            <p>
              <a href="{{ $reviewRoute }}" data-testid="full-review"
                >Full review</a
              >

              {{ if len .Comments }}
                &bull;
                <a href="{{ $reviewRoute }}" data-testid="comment-count"
                  ><i class="fa-solid fa-comment"></i> {{ len .Comments }}</a
                >
              {{ end }}
              {{ if (eq .Owner $loggedInUsername) }}
                &bull;
                <a href="/reviews/{{ .ID }}/edit" data-testid="edit-rating"
                  >Edit</a
                >
              {{ end }}
            </p>
          </div>
        </div>
      </div>
    {{ end }}
  </div>
{{ end }}
