{{ define "title" }}
  {{ $isEditing := ne .Review.ID 0 }}
  {{ if $isEditing }}
    Edit Review
  {{ else }}
    Add Review
  {{ end }}
{{ end }}

{{ define "style-tags" }}
  <style nonce="{{ .CspNonce }}">
    #search-results-list li {
      border-top: 1px solid #c2c2c2;
    }

    #search-results-list li a {
      display: block;
      text-decoration: none;
      color: black;
    }

    #search-results-list li a:hover {
      background-color: #def0ff;
    }

    #search-results-list img {
      max-height: 100px;
    }

    @media screen and (min-width: 1024px) {
      #search-results-list img {
        max-height: 80px;
      }
    }

    .btn + .btn {
      margin-right: 0.5rem;
    }
  </style>
{{ end }}

{{ define "script-tags" }}
  <script type="module" nonce="{{ .CspNonce }}">
    function is2xxCode(status) {
      return (status / 100) * 100 === 200;
    }
    const alertEl = document.querySelector(".alert");

    document.querySelector("form").addEventListener("input", function (evt) {
      alertEl.hidden = true;
    });

    document.body.addEventListener("htmx:beforeSwap", function (evt) {
      if (is2xxCode(evt.detail.xhr.status)) {
        return;
      }
      alertEl.innerText = evt.detail.xhr.responseText;
      alertEl.hidden = false;
    });
  </script>
{{ end }}

{{ define "content" }}
  {{ $isEditing := ne .Review.ID 0 }}

  {{ if ne .Review.Movie.Title "" }}
    <h2>{{ .Review.Movie.Title }} ({{ .Review.Movie.ReleaseDate.Year }})</h2>
  {{ end }}


  <div class="my-5">
    {{ if not .Review.Movie.Title }}
      {{ template "find-title" }}
    {{ else }}
      {{ template "rate-movie" . }}
    {{ end }}
  </div>
{{ end }}

{{ define "find-title" }}
  <form
    hx-get="/api/search"
    hx-trigger="submit, search from:#media-title, keyup changed from:#media-title, change from:input[name='media-type']"
    hx-target="#search-results-list"
  >
    <label for="media-title" class="form-label">Title</label>
    <input
      id="media-title"
      name="query"
      class="form-control"
      type="search"
      placeholder="Search"
      aria-label="Search"
      autofocus="autofocus"
      required
    />
    <fieldset>
      <div>
        <input
          type="radio"
          id="movies"
          name="media-type"
          value="movies"
          checked
        />
        <label for="movies">Movies</label>
      </div>
      <div>
        <input type="radio" id="tv-shows" name="media-type" value="tv-shows" />
        <label for="tv-shows">TV Shows</label>
      </div>
    </fieldset>

    <div class="alert alert-danger" role="alert" hidden>Placeholder error</div>
  </form>

  <div id="search-results-list" class="p-0"></div>
{{ end }}

{{ define "rate-movie" }}
  {{ $isEditing := ne .Review.ID 0 }}


  <form
    class="d-flex flex-column"
    {{ if $isEditing }}
      hx-put="/reviews/{{ .Review.ID }}"
    {{ else }}
      hx-post="/reviews"
    {{ end }}
    hx-target="body"
    hx-push-url="true"
    hx-disabled-elt="input, select, textarea, .btn"
  >
    {{ if not $isEditing }}
      <input type="hidden" name="tmdb-id" value="{{ .Review.Movie.TmdbID }}" />
    {{ end }}
    <div class="mb-3">
      <label for="rating" class="form-label">Rating</label>
      <select
        id="rating"
        name="rating"
        class="form-select"
        aria-label="Rating"
        required
        autofocus
      >
        {{ $selectedRating := .Review.Rating.UInt8 }}
        {{ if eq $selectedRating 0 }}
          <option selected></option>
        {{ end }}
        {{ range .RatingOptions }}
          <option
            value="{{ .Value }}"
            {{ if (eq .Value $selectedRating) }}selected{{ end }}
          >
            {{ .Label }}
          </option>
        {{ end }}
      </select>
    </div>

    <div class="mb-3">
      <label for="watch-date" class="form-label">When did you watch?</label>
      {{ $defaultWatchDate := .Review.Watched.Time }}
      {{ if not $isEditing }}
        {{ $defaultWatchDate = .Today }}
      {{ end }}
      <input
        id="watch-date"
        name="watch-date"
        class="form-control"
        type="date"
        value="{{ $defaultWatchDate | formatDate }}"
        min="2000-01-01"
        max="{{ .Today | formatDate }}"
        required
      />
    </div>

    <div class="mb-3">
      <label for="blurb" class="form-label">Other thoughts? (Optional)</label>
      <textarea id="blurb" name="blurb" class="form-control">
{{ .Review.Blurb }}</textarea
      >
    </div>

    {{ if $isEditing }}
      <div class="d-flex justify-content-between flex-row-reverse">
        <div class="d-flex">
          <button class="btn btn-primary me-2" value="Save">
            <i class="fa-solid fa-floppy-disk"></i>
            Save
          </button>
          <a class="btn btn-outline-secondary" role="button" href="/reviews"
            >Cancel</a
          >
        </div>
        <div class="d-flex">
          <a
            class="btn btn-danger"
            role="button"
            hx-delete="/reviews/{{ .Review.ID }}"
            hx-confirm="Delete this review?"
          >
            <i class="fa fa-trash me-2"></i>Delete
          </a>
        </div>
      </div>
    {{ else }}
      <div class="mb-3">
        <input type="submit" class="btn btn-primary" value="Submit" />
      </div>
    {{ end }}


    <div class="spinner-border htmx-indicator" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>

    <div class="alert alert-danger" role="alert" hidden>Placeholder error</div>
  </form>
{{ end }}
