<template id="comment-form-template">
  <link
    rel="stylesheet"
    type="text/css"
    href="/third-party/bootstrap@5.2.2/css/bootstrap.min.css"
  />
  <style nonce="{{ .CspNonce }}">
    #comment-btn {
      display: block;
    }

    #comment-form {
      display: none;
    }

    :host([state="editing"]) #comment-btn {
      display: none;
    }

    :host([state="editing"]) #comment-form {
      display: block;
    }
  </style>
  <div class="d-flex justify-content-end">
    <button type="button" id="comment-btn" class="btn btn-secondary mt-2">
      Comment
    </button>
  </div>
  <div class="d-flex justify-content-end mt-2">
    <form id="comment-form">
      <textarea class="form-control my-2"></textarea>
      <div class="d-flex justify-content-start mt-1 flex-row-reverse">
        <input
          type="submit"
          id="post-btn"
          class="btn btn-primary"
          value="Post"
        />
        <button type="button" id="cancel-btn" class="btn btn-light mx-2">
          Cancel
        </button>
      </div>

      <div class="d-flex justify-content-end my-2">
        <div id="submit-spinner" class="spinner-border invisible" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div id="error" class="alert alert-danger invisible" role="alert">
        Placeholder error
      </div>
    </form>
  </div>
</template>

<script type="module" nonce="{{ .CspNonce }}">
  import { showElement, hideElement } from "/js/lib/bootstrap.js";
  import { disableElement, enableElement } from "/js/lib/ui.js";

  import { commentPost } from "/js/controllers/comments.js";
  (function () {
    const template = document.querySelector("#comment-form-template");

    customElements.define(
      "comment-form",
      class extends HTMLElement {
        states = {
          HIDDEN: "hidden",
          EDITING: "editing",
          COMPLETE: "complete",
        };

        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
          this.state = this.states.HIDDEN;

          this._elements = {
            commentBody: this.shadowRoot.querySelector("textarea"),
            commentBtn: this.shadowRoot.getElementById("comment-btn"),
            cancelBtn: this.shadowRoot.getElementById("cancel-btn"),
            postBtn: this.shadowRoot.getElementById("post-btn"),
            form: this.shadowRoot.querySelector("form"),
            submitSpinner: this.shadowRoot.getElementById("submit-spinner"),
            errorAlert: this.shadowRoot.getElementById("error"),
          };

          this._elements.commentBtn.addEventListener("click", () => {
            this.state = this.states.EDITING;
            this._elements.commentBody.focus();
          });
          this._elements.cancelBtn.addEventListener("click", () => {
            this.state = this.states.HIDDEN;
          });
          // TODO: Emit an event fot this instead.
          this._elements.form.addEventListener("submit", (evt) => {
            evt.preventDefault();

            disableElement(this._elements.cancelBtn);
            disableElement(this._elements.postBtn);
            hideElement(this._elements.errorAlert);
            showElement(this._elements.submitSpinner);

            commentPost(this.reviewId, this._elements.commentBody.value)
              .then((commentId) => {
                window.location.hash = "#comment" + commentId;
                // We need to reload to re-render the page with the new comment.
                window.location.reload();
              })
              .catch((error) => {
                this._elements.errorAlert.innerText = error;
                showElement(this._elements.errorAlert);

                enableElement(this._elements.cancelBtn);
                enableElement(this._elements.postBtn);
              })
              .finally(() => {
                hideElement(this._elements.submitSpinner);
              });
          });
        }

        get reviewId() {
          return parseInt(this.getAttribute("data-review-id"));
        }

        get state() {
          return this.getAttribute("state");
        }

        set state(newValue) {
          this.setAttribute("state", newValue);
        }
      }
    );
  })();
</script>
