<template id="comment-form-template">
  <link
    rel="stylesheet"
    type="text/css"
    href="/third-party/bootstrap@5.2.2/css/bootstrap.min.css"
  />
  <div class="d-flex justify-content-end mt-2">
    <form id="comment-form">
      <textarea class="form-control my-2"></textarea>
      <div class="d-flex justify-content-start mt-1 flex-row-reverse">
        <input
          type="submit"
          id="post-btn"
          class="btn btn-primary"
          value="Post"
        />
        <input
          type="submit"
          id="save-btn"
          class="btn btn-primary"
          value="Save"
        />
        <button type="button" id="cancel-btn" class="btn btn-light mx-2">
          Cancel
        </button>
      </div>

      <div class="d-flex justify-content-end my-2">
        <div id="submit-spinner" class="spinner-border invisible" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <div id="error" class="alert alert-danger invisible" role="alert">
        Placeholder error
      </div>
    </form>
  </div>
</template>

<script type="module" nonce="{{ .CspNonce }}">
  import {
    makeInvisible,
    makeVisible,
    hideElement,
  } from "/js/lib/bootstrap.js";
  import { disableElement, enableElement } from "/js/lib/ui.js";

  import { commentPost, commentPut } from "/js/controllers/comments.js";
  (function () {
    const template = document.querySelector("#comment-form-template");

    customElements.define(
      "comment-form",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );

          this._elements = {
            commentBody: this.shadowRoot.querySelector("textarea"),
            cancelBtn: this.shadowRoot.getElementById("cancel-btn"),
            form: this.shadowRoot.querySelector("form"),
            submitSpinner: this.shadowRoot.getElementById("submit-spinner"),
            errorAlert: this.shadowRoot.getElementById("error"),
          };

          let onSubmit = null;
          let successEventId = null;
          const value = this.getAttribute("value");
          if (value !== null) {
            // Comment exists, so this is an edit form.
            this._elements.submitBtn =
              this.shadowRoot.getElementById("save-btn");
            hideElement(this.shadowRoot.getElementById("post-btn"));
            this._elements.commentBody.value = value;
            onSubmit = () => {
              return commentPut(
                this.commentId,
                this._elements.commentBody.value
              );
            };
            successEventId = "comment-updated";
          } else {
            // Comment exists, so this is a new comment form.
            this._elements.submitBtn =
              this.shadowRoot.getElementById("post-btn");
            hideElement(this.shadowRoot.getElementById("save-btn"));
            onSubmit = () => {
              return commentPost(
                this.reviewId,
                this._elements.commentBody.value
              );
            };
            successEventId = "comment-created";
          }

          this._elements.cancelBtn.addEventListener("click", () => {
            this._emitCustomEvent("cancel");
          });
          this._elements.form.addEventListener("submit", (evt) => {
            evt.preventDefault();

            disableElement(this._elements.cancelBtn);
            disableElement(this._elements.submitBtn);
            makeInvisible(this._elements.errorAlert);
            makeVisible(this._elements.submitSpinner);

            onSubmit()
              .then((commentId) => {
                this._emitCustomEvent(successEventId, {
                  commentId,
                });
              })
              .catch((error) => {
                this._elements.errorAlert.innerText = error;
                makeVisible(this._elements.errorAlert);

                enableElement(this._elements.cancelBtn);
                enableElement(this._elements.submitBtn);
              })
              .finally(() => {
                makeInvisible(this._elements.submitSpinner);
              });
          });
        }

        get reviewId() {
          return parseInt(this.getAttribute("data-review-id"));
        }

        set value(newValue) {
          this._elements.commentBody.value = newValue;
        }

        focus() {
          this._elements.commentBody.focus();
        }

        _emitCustomEvent(eventId, detail) {
          this.dispatchEvent(
            new CustomEvent(eventId, {
              detail,
              bubbles: true,
              composed: true,
            })
          );
        }
      }
    );
  })();
</script>
