<template id="title-search-template">
  <link
    rel="stylesheet"
    type="text/css"
    href="/third-party/bootstrap@5.2.2/css/bootstrap.min.css"
  />
  <label for="media-title" class="form-label">Title</label>
  <input
    id="media-title"
    class="form-control"
    type="search"
    placeholder="Search"
    aria-label="Search"
    aria-expanded="false"
    data-bs-toggle="dropdown"
    autofocus="autofocus"
    required
  />
  <ul
    id="search-results-list"
    class="dropdown-menu"
    aria-labelledby="search-box"
  ></ul>
</template>

<script type="module" nonce="{{ .CspNonce }}">
  function throttle(func, waitInMilliseconds) {
    let timer = null;
    return function (...args) {
      if (timer === null) {
        timer = setTimeout(() => {
          func.apply(this, args);
          timer = null;
        }, waitInMilliseconds);
      }
    };
  }

  (function () {
    const template = document.querySelector("#title-search-template");

    customElements.define(
      "title-search",
      class extends HTMLElement {
        connectedCallback() {
          this.attachShadow({ mode: "open" }).appendChild(
            template.content.cloneNode(true)
          );
          this._elements = {
            title: this.shadowRoot.getElementById("media-title"),
            resultsList: this.shadowRoot.getElementById("search-results-list"),
          };

          this._elements.title.addEventListener("input", (evt) => {
            this._onTitleInput(evt);
          });
          this._elements.title.addEventListener("click", (evt) => {
            const query = evt.target.value;
            if (query.length < 2) {
              this._clearSearchResults();
            }
          });
          this._tmdbId = null;

          this._throttledUpdateSearchQuery = throttle((query) => {
            this._updateSearchQuery(query);
          }, 250);
        }

        get value() {
          return this._tmdbId;
        }

        _clearSearchResults() {
          const resultsList = this.shadowRoot.getElementById(
            "search-results-list"
          );
          this._elements.resultsList.classList.remove("show");
          while (this._elements.resultsList.firstChild) {
            this._elements.resultsList.removeChild(
              this._elements.resultsList.firstChild
            );
          }
        }

        _onTitleInput(evt) {
          this._tmdbId = null;
          const query = evt.target.value;
          if (query.length < 2) {
            return;
          }
          this._throttledUpdateSearchQuery(query);
        }

        _updateSearchQuery(query) {
          searchGet(query).then((results) => {
            this._clearSearchResults();
            this._elements.resultsList.classList.add("show");

            if (results.matches.length === 0) {
              const liEl = document.createElement("li");
              liEl.innerText = "No matches";
              this._elements.resultsList.appendChild(liEl);
              return;
            }

            const maxTitleMatches = 7;
            for (const m of results.matches.slice(0, maxTitleMatches)) {
              const d = new Date(m.releaseDate);

              const imgEl = document.createElement("img");
              imgEl.src = m.posterUrl;

              const spanEl = document.createElement("span");
              spanEl.classList.add("title");
              spanEl.innerText = `${m.title} (${d.getUTCFullYear()})`;

              const anchorEl = document.createElement("a");
              anchorEl.href = "#";
              anchorEl.appendChild(imgEl);
              anchorEl.appendChild(spanEl);

              anchorEl.addEventListener("click", (evt) => {
                evt.preventDefault();
                this._elements.title.value = m.title;
                this._tmdbId = m.tmdbId;
                this._clearSearchResults();
              });

              const liEl = document.createElement("li");
              liEl.appendChild(anchorEl);

              this._elements.resultsList.appendChild(liEl);
            }
          });
        }
      }
    );
  })();
</script>
