{{ $isEditing := ne .CommentID 0 }}


<form
  hx-post="/api/comments{{ if $isEditing }}?commentId={{ .CommentID }}{{ end }}"
  hx-swap="outerHTML"
>
  <input type="hidden" name="review-id" value="{{ .ReviewID }}" />
  <textarea name="comment" class="form-control my-2" autofocus>
{{ .CommentText }}</textarea
  >
  <div class="d-flex justify-content-start mt-1 flex-row-reverse">
    <input type="submit" id="save-btn" class="btn btn-primary" value="Save" />
    <button
      type="button"
      id="cancel-btn"
      class="btn btn-light mx-2"
      {{ if $isEditing }}
        hx-get="/api/comments/{{ .CommentID }}"
      {{ else }}
        hx-get="/api/comments/add?reviewId={{ .ReviewID }}"
      {{ end }}
      hx-target="closest form"
    >
      Cancel
    </button>
  </div>
</form>
