<div
  id="comment{{ .ID }}"
  data-sj-purpose="comment"
  data-comment-id="{{ .ID }}"
  class="border my-1 p-2"
>
  <p class="mb-2">
    <b><a href="/reviews/by/{{ .Owner }}">{{ .Owner }}</a></b>
    &mdash;
    <span data-testid="relative-time" title="{{ formatCommentTime .Created }}"
      >{{ relativeCommentDate .Created }}</span
    >
  </p>
  <p class="mb-0" data-sj-purpose="body">
    {{ range .CommentText.String | splitByNewline }}
      {{ . }}<br />
    {{ end }}
  </p>

  {{ if isLoggedInUser .Owner }}
    <div class="mt-3 small">
      <a href="#" data-sj-purpose="edit">Edit</a>
      &bull;
      <a href="#" data-sj-purpose="delete">Delete</a>
    </div>
  {{ end }}
</div>
